.projects-container{
    min-height: 100vh;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
a{
    text-decoration: none;
}
.project1-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project1-container > span{
    font-size: 220px;
    line-height: 180px;
    color: rgb(246, 218, 85);
    margin: 0;
}

.project2-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 300px);
    gap: 20px;

}

.grid-projects{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
}

.grid-projects.large{
    height: 48%;
}
.grid-projects.small{
    height: 35%;
}

.github-repository{
    align-items: flex-end;
    display: flex;
    text-align: end;
}

.github-repository a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    color: rgb(238, 117, 74);
}



@media (max-width: 500px) {
    .projects-container{
        height: auto;
    }
    .project1-container{
        flex-direction: column;
        height: auto;
    }
    .project1-container > div{
        height: auto;
    }
    .project2-container{
        height: auto;
        margin-top: 40px;
    }

    .github-repository{
        margin-top: 0px;
        flex-direction: row-reverse;
        justify-content: flex-start;
        font-size: 6vw;
        margin-top: 20px;
    }

    .github-repository a{
        align-items: center;

    }

    .grid-projects.large,.grid-projects.small{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .project-description{
        font-size: 5vw;
        width: calc(100% - 40px);
    }
    .grid-projects.small{
        margin-top: 50px;
    }


}

@media (max-height: 830px) {
    .project2-container{
        gap: 40px;
        height: auto;
    }
    
}

@media (max-height: 800px) {
    .project2-container{
        gap: 20px;
    }
    
}

