.App {
  font-family: sans-serif;
  text-align: center;
  overflow-y: hidden;
  width: calc(100vw - 18px);

}
:root{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;

}

body{
  background-color: rgb(42, 93, 131);
  font-family: 'Source Serif Pro', serif;
  width: 100%;

}

.content{
  padding-left: 88px;
}
.content > div{
  padding: 0px 40px;
  text-align: left;
}

.section-title{
  font-size: 220px;
  color: rgb(246, 218, 85);
  margin: 0;
  height: 260px;
}